---

---

<footer class="bg-slate-400 p-5 text-center text-slate-950">
  <h1>Year: 2023</h1>
</footer>

<script>
  const currentYear: number = new Date().getFullYear();

  const footer = document.querySelector("footer") as HTMLElement;
  footer.innerText = `Year:  ${currentYear}`;
</script>
