---
import MainLayout from "@/layouts/MainLayout.astro";

import type { PokemonListResponse } from "@/interfaces/pokemon-response";
import PokemonCard from "@/components/pokemons/PokemonCard.astro";
import Title from "@/shared/Title.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonListResponse;

const title = "Pokemon List | Home";
---

<MainLayout title={title}>
  <Title>{title}</Title>
  <hr />
  <section
    aria-label="Pokemon List"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-3 p-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
