---

---
<div class="bg-slate-400 p-5 text-slate-950">
  <nav class="flex gap-x-6">
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>
  </nav>
</div>

